@import url(assets/css/base.css);
@import url(assets/css/all_components.css);

// flax classes
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: start;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}
// align classes
.text-end {
  text-align: end;
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}
.max-width-880 {
  max-width: 880px;
}
.img-fluid {
  width: 100%;
  height: auto;
}
.mx-auto {
  margin: 0 auto;
}
.ms-auto {
  margin-left: auto;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 8px !important;
}
.mb-2 {
  margin-bottom: 16px !important;
}
.mb-3 {
  margin-bottom: 24px !important;
}
.mb-4 {
  margin-bottom: 32px !important;
}
.mb-5 {
  margin-bottom: 40px !important;
}
.mt-0 {
  margin-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.gap-1 {
  gap: 10px;
}
.gap-2 {
  gap: 16px;
}
.gap-3 {
  gap: 24px;
}
.gap-4 {
  gap: 32px;
}

.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fw-normal {
  font-weight: normal;
}
.fw-medium {
  font-weight: 500;
}
.fw-bold {
  font-weight: 700;
}
.bg-center-cover-norepeat {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 40px 28px;
  &.shadow {
    box-shadow: 0px 4px 60px rgba(0, 0, 0, .08);
  }
}

.default-sec {
  .main-title {
    margin-bottom: clamp(22px, 6vw, 46px);
  }

}
.main-title {
    position: relative;
    z-index: 1;
    text-transform: capitalize;
}
.line-bg {
  background-image: url('./assets/img/sec-line-bg.webp');
  background-repeat: repeat;
  background-position: top center;
}
.input-wrapper {
  position: relative;
  margin-bottom: 12px;
  &.dark {
    .form-label {
      background-color: var(--navy-blue);
      color: white;
    }
    .form-control {
      color: white;
    }
  }
  &.gray-light {
    .form-control {
      border-color: var(--gray-light);
      background-color: var(--gray-light);
    }
  }
  &:hover {
    .form-label {
      color: var(--primary);
    }
  }
  .form-label {
    position: absolute;
    left: 17px;
    top: -5px;
    background-color: white;
    padding: 0 8px;
    transition: .3s;
  }
  .form-control {
    border: 1px solid #676767;
    border-radius: 8px;
    width: 100%;
    outline: none;
    background-color: transparent;
    padding: 12px 17px;
    margin-top: 5px;
    transition: .3s;
    &:focus,
    &:hover {
      border-color: var(--primary);
    }
  }
}

// heading underline
.underline {
  position: relative;
  display: inline-block;
  &::before {
    content: "";
    width: 100%;
    height: 7px;
    background-color: #52B8BB;
    position: absolute;
    bottom: 6px;
    left: 0;
    z-index: -1;
  }
}
// read more Toggle button

::-webkit-scrollbar {
  width: 9px;
  height: 0.6em;
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 100vw;
  border: 2px solid transparent;
  background-clip: content-box;
}

.cursor-pointer {
  cursor: pointer;
}

.list-style-disc {
  padding-left: 30px;
  li {
    list-style: disc;
  }
}
.list-with-icon {
  gap: 10px;
  .list-item {
    display: flex;
    align-items: center;
    gap: 20px;
    .icon-wrapper {
      padding: 14px;
      border-radius: 8px;
      background-color: var(--primary-light);
    }
  }
}
.position-relative {
  position: relative;
}
.z-1 {
  z-index: 1;
}
.overflow-hidden {
  overflow: hidden;
}

.wpcf7 .wpcf7-spinner {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0;
}
.wpcf7 .wpcf7-not-valid-tip {
  margin-top: 6px;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px;
  text-align: start !important;
}
.wpcf7 .wpcf7-response-output {
  padding: 8px 10px !important;
  border-radius: 10px;
  margin-bottom: 0 !important;
  margin-top:18px !important;
}
.wpcf7 form.invalid .wpcf7-response-output {
  background-color: #fff9eb;
  color: #ffb900;
}
.wpcf7 form.sent .wpcf7-response-output {
  background-color: #eefdef;
  color: #46b450;
}
.wpcf7 form.failed .wpcf7-response-output {
  color: #dc3232;
  background-color: #ffe6e6;
}
@media (min-width: 991px) {
  .d-lg-block {
    display: block !important;
  }
  .flex-lg-row {
    flex-direction: row;
  }
}
@media (max-width: 767px) {
  .underline {
    &::before {
      height: 4px;
      bottom: 4px;
    }
  }
}
@media (max-width: 576px) {
  .sec-badge {
    padding: 10px 14px;
  }
}