.faq-sec{
    .accordion {
        .accordion-item {
            background-color: var(--blue-light);
            border-radius: 16px;

            &:last-child {
                margin-bottom: 0;
            }

            &.active {
                .accordion-header {
                    color: var(--green);
                    background-color: white;

                    .icon {
                        .minus {
                            display: block;
                        }

                        .plus {
                            display: none;
                        }
                    }
                }
            }

            .accordion-header {
                padding: 24px;
                position: relative;
                cursor: pointer;

                .icon {
                    position: absolute;
                    top: calc(50% - 2px);
                    right: 30px;
                    transform: translate(0, -50%);
                    transition: .4s;

                    .minus {
                        display: none;
                    }

                    &:hover {
                        transform: translate(0, -50%) scale(1.2);
                    }

                }
            }

            .accordion-content {
                display: none;
                padding: 20px 30px 0;

                p {
                    color: white;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &.show {
                    display: block;
                }
            }
        }
    }
}
