.text-white {
  color: white !important;
}

.bg-white {
  background: white;
}

.text-black {
  color: black !important;
}

.bg-black {
  background: black;
}

// Primary Colors
.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary) !important;
}

.text-blue {
  color: var(--blue);
}
.bg-blue-light {
  background-color: var(--blue-light) !important;
}

// gray
.text-gray {
  color: var(--gray);
}
.bg-gray {
  background-color: var(--gray);
}

.text-gray-light-1 {
  color: var(--gray-ligth-1);
}
