:root {
  --primary: #ED1B24;
  --blue: #063081;
  --blue-light: #EFF7FD;
  
  --gray: #404040;
  --gray-light: #E6E6E6;

  --font-family: "Plusjakartasans-Regular", sans-serif;
  --section-padding: clamp(45px, 7vw, 70px) 0;
  --heading-color: #063081;
}
